{% extends "layout.twig" %}

{% block title %}
    {{ hello }}
{% endblock %}

{% block content %}
    <h1>{{ hello }}</h1>

    <ul id="names">
        {% for user in users %}
            <li>{{ user.name }}</li>
        {% endfor %}
    </ul>

    <ul id="cars">
        {% for car in cars %}
            <li>{{ car }}</li>
        {% endfor %}
    </ul>
{% endblock %}
